@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
:root {
  --primarycolor: #444444;
  --secondarycolor: #b2b1b9;
  --lightbackcolor: #f3f1f5;
}

.dark {
  --primarycolor: #ededed;
  --secondarycolor: #444444;
  --lightbackcolor: #222831;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

body {
  background: var(--lightbackcolor);
  position: relative;
}

body .fa-angle-up {
  position: fixed;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  bottom: 4rem;
  right: 3rem;
  font-size: 4rem;
  color: var(--primarycolor);
  background-color: var(--secondarycolor);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

body .fa-angle-up:hover {
  color: var(--secondarycolor);
  background-color: var(--primarycolor);
}

body .fa-angle-up.active {
  display: block;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--lightbackcolor);
  z-index: 1000;
}

header ul a {
  font-size: 2rem;
  color: var(--primarycolor);
  letter-spacing: 1.3px;
  margin-left: 1rem;
}

header ul a:hover {
  opacity: 0.5;
}

.fa-bars {
  z-index: 10001;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: var(--primarycolor);
}

.fa-times {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.fa-sun {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fa-moon {
  font-size: 2.5rem;
  color: var(--primarycolor);
  letter-spacing: 1.3px;
  margin-left: 1rem;
  cursor: pointer;
}

.fa-moon:hover {
  opacity: 0.5;
}

.navbar.active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.home .social-span {
  height: 25rem;
  width: 0.5rem;
  position: fixed;
  top: 0;
  left: 3rem;
  background-color: var(--primarycolor);
}

.home .social {
  position: fixed;
  left: 2rem;
  top: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .social .fab {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home .social .fa-facebook-f {
  color: var(--primarycolor);
}

.home .social .fa-facebook-f:hover {
  color: #1877f2;
}

.home .social .fa-twitter {
  color: var(--primarycolor);
}

.home .social .fa-twitter:hover {
  color: #1da1f2;
}

.home .social .fa-instagram {
  color: var(--primarycolor);
}

.home .social .fa-instagram:hover {
  color: #e4405f;
}

.home .social .fa-github {
  color: var(--primarycolor);
}

.home .social .fa-github:hover {
  color: #000;
}

.home .social .fa-codepen {
  color: var(--primarycolor);
}

.home .social .fa-codepen:hover {
  color: #000;
}

.home .container {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .container .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  width: 100%;
}

.home .container .content h2 {
  font-size: 4rem;
  color: var(--primarycolor);
  font-weight: 600;
}

.home .container .content h3 {
  font-size: 2.5rem;
  color: var(--primarycolor);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.home .container .content h3 span {
  color: #b2b1b9;
}

.home .container .content h4 {
  font-size: 1.5rem;
  color: #8bc34a;
  margin-bottom: 2rem;
  font-weight: 300;
}

.home .container .content h4 .fa-circle {
  font-size: 1rem;
}

.home .container .content .btn {
  color: var(--primarycolor);
  background-color: var(--secondarycolor);
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 15rem;
  font-weight: 600;
}

.home .container .content .btn:hover {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
}

.home .container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}

.home .container .image img {
  width: 83%;
  padding-top: 4rem;
  margin-top: 5rem;
}

.skills {
  padding: 10rem 0;
  width: 100%;
  min-height: 100vh;
}

.skills h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--primarycolor);
  font-weight: 400;
  margin-bottom: 5rem;
}

.skills .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.skills .box-container .box {
  padding: 2rem;
  cursor: pointer;
  text-align: center;
  margin: 2rem;
}

.skills .box-container .box img {
  height: 10rem;
  margin-bottom: 2rem;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.skills .box-container .box h2 {
  color: var(--primarycolor);
  font-size: 2rem;
}

.skills .box-container .box:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.skills .box-container .box:hover .html h2 {
  color: #e44d26;
}

.skills .box-container .box:hover .css h2 {
  color: #1572b6;
}

.skills .box-container .box:hover .boots h2 {
  color: #321642;
}

.skills .box-container .box:hover .sass h2 {
  color: #cc6699;
}

.skills .box-container .box:hover .java h2 {
  color: #e4a227;
}

.skills .box-container .box:hover .jquery h2 {
  color: #0868ab;
}

.skills .box-container .box:hover .react h2 {
  color: #00d8ff;
}

/* service section */
.service {
  min-height: 100vh;
}

.service .heading {
  font-size: 4rem;
  text-align: center;
  color: var(--primarycolor);
  font-weight: 400;
  margin-bottom: 3rem;
}

.service .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20rem;
  width: 25rem;
  background: var(--secondarycolor);
  cursor: pointer;
  margin: 2rem;
  border-radius: 0.5rem;
}

.service .box-container .box:hover {
  background: var(--primarycolor);
}

.service .box-container .box:hover .fas {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service .box-container .box .fas {
  font-size: 4rem;
  color: var(--primarycolor);
  margin-bottom: 1.5rem;
}

.service .box-container .box h2 {
  padding-top: 1rem;
  color: var(--primarycolor);
  font-size: 2rem;
}

.service .box-container .box:hover .fas {
  color: var(--secondarycolor);
}

.service .box-container .box:hover h2 {
  color: var(--secondarycolor);
}

/*works section*/
.myworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myworks .heading {
  font-size: 4rem;
  text-align: center;
  color: var(--primarycolor);
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.myworks .workscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.myworks .workscontainer .box {
  height: 30rem;
  width: 25rem;
  overflow-y: hidden;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.myworks .workscontainer .box img {
  width: 100%;
}

.myworks .workscontainer .box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.myworks .workscontainer .box .content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondarycolor);
  height: 6rem;
}

.myworks .workscontainer .box .content a {
  padding: 1.5rem;
  font-size: 1.7rem;
  line-height: 6rem;
  font-weight: bolder;
  color: var(--primarycolor);
}

.myworks .workscontainer .box .content a:hover {
  opacity: .5;
}

.myworks .btn {
  color: var(--primarycolor);
  background-color: var(--secondarycolor);
  padding: 1rem 2rem;
  border-radius: 15rem;
  font-weight: 600;
  border: none;
  margin: 5rem 0;
  font-size: 2.2rem;
}

.myworks .btn a {
  color: var(--primarycolor);
}

.myworks .btn:hover {
  background-color: var(--primarycolor);
}

.myworks .btn:hover a {
  color: var(--secondarycolor);
}

/*footer section*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 15rem;
  background-color: var(--secondarycolor);
}

.footer .content ul a {
  font-size: 1.7rem;
  color: var(--primarycolor);
  margin-left: 1rem;
}

.footer .content ul a:hover {
  opacity: 0.5;
}

.footer h2 {
  font-size: 2rem;
  color: var(--primarycolor);
}

.footer .social .fab {
  font-size: 1.7rem;
  margin: 2rem 1rem 2rem 1rem;
  color: var(--secondarycolor);
  background-color: var(--primarycolor);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}

.footer .copyright h3 {
  font-size: 1.5rem;
  color: var(--primarycolor);
}

.footer .copyright h3 span {
  color: var(--primarycolor);
  font-size: 1.7rem;
}

/******** Media Queries *********/
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  section {
    padding: 2rem 9%;
  }
  header {
    width: 100%;
    position: fixed;
    height: 7rem;
    padding: 0 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
  }
  header ul a {
    font-size: 2rem;
    color: var(--primarycolor);
    letter-spacing: 1.3px;
    margin-left: 1rem;
  }
  .home .fab {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .home .container {
    margin-top: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .container .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: center;
    width: 100%;
  }
  .home .container .content h2 {
    font-size: 4rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 {
    font-size: 2.8rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 span {
    color: #777777;
  }
  .home .container .content h4 {
    margin-bottom: 2rem;
  }
  .home .container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  .home .container .image img {
    width: 85%;
    padding-top: 3rem;
  }
  .skills {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    padding: 0 10px;
    position: relative;
  }
  .skills h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--primarycolor);
    font-weight: 400;
    margin-top: 12rem;
  }
  .skills .box-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .home .container {
    margin-top: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .container .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: center;
    width: 100%;
  }
  .home .container .content h2 {
    font-size: 4rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 {
    font-size: 3rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 span {
    color: #777777;
  }
  .home .container .content h4 {
    margin-bottom: 2rem;
  }
  .home .container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  .home .container .image img {
    width: 85%;
    padding-top: 4rem;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
  .fab {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 14rem;
    background-color: var(--secondarycolor);
  }
  .footer h2 {
    font-size: 1.6rem;
    color: var(--primarycolor);
  }
  .footer .social .fab {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .footer .copyright h3 {
    font-size: 1.7rem;
    color: var(--primarycolor);
  }
  .footer .copyright h3 span {
    color: var(--primarycolor);
    font-size: 2rem;
  }
}

@media (max-width: 620px) {
  header .fa-bars {
    display: block;
    font-size: 2.5rem;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
  header nav {
    position: fixed;
    bottom: 200%;
    height: 100vh;
    width: 100vw;
    background: var(--lightbackcolor);
    -webkit-box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
  }
  header nav.toggle {
    position: fixed;
    bottom: 0%;
    height: 100vh;
    width: 100vw;
    background: var(--lightbackcolor);
    -webkit-box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  header nav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul a {
    margin: 3rem 0;
    font-size: 3rem;
    color: var(--primarycolor);
    position: relative;
    display: block;
  }
  header nav ul a:hover {
    color: var(--primarycolor);
  }
  header nav ul a:hover::before {
    content: attr(attr);
    color: var(--primarycolor);
    font-size: 10rem;
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .home .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .container .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: center;
    width: 100%;
  }
  .home .container .content h2 {
    font-size: 4rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 {
    font-size: 2rem;
    color: var(--primarycolor);
  }
  .home .container .content h3 span {
    color: var(--secondarycolor);
  }
  .home .container .content h4 {
    margin-bottom: 2rem;
  }
  .home .container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    position: relative;
  }
  .home .container .image img {
    width: 85%;
    padding-top: 5rem;
  }
  .skills .box-container {
    width: 100%;
  }
  .fab {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .fab {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */